.recipe-name{
    font-size: 30px;
    text-decoration: none;
    overflow: hidden;
    height: 100px;
    vertical-align: middle;
}

.recipe-preview{
    border-style: double;
    border-width: 5px;
    padding: 10px;
    border-color: black;
    box-sizing: content-box;
    margin: 10px;
    color: black;
    text-decoration: none;
    width: 95%;
    height: 450px;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.recipe-header{
    padding: 10px;
    box-sizing: content-box;
    margin: 10px;
    color: black;
    text-decoration: none;
}

.recipe-description{
    display: inline-block;
    line-height: 38px;
}

.recipe-description div.icon{
    cursor: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-origin: content-box;
    height: 38px;
    width: 38px;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
}

.recipe-preview .recipe-image-carousel-preview .carousel-image{
    min-height: 100%;
    max-height: 180px;
}

.recipe-header .recipe-image-carousel-preview .carousel-image{
    min-height: 100%;
    max-height: 300px;
}

.recipe-image-carousel-preview .carousel-box{
    min-height: 100%;
    max-height: 100%;
    width: 100%;

}

.recipe-header .recipe-image-carousel-preview{
    width: 100%;
    height: 300px;
    vertical-align: middle;
    text-align: center;
}

.recipe-preview .recipe-image-carousel-preview{
    width: 95%;
    height: 180px;
    vertical-align: middle;
    text-align: center;
}