h1 {
    font-family: American Typewriter, serif;
    text-align: center;
}

p {
    color: rgb(73, 57, 47);
    font-family: Helvetica, sans-serif;
    text-align: center;   
    margin: 3%; 
}

.jumbotron {
    background-color: rgb(247, 163, 99);
    margin: 2%;
}

.errorMessage{
    color: red;
}